name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libdb-dev

    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        python setup.py install_egg_info
        pip install -e .
        pip install pytest

    - name: Run tests
      run: |
        pytest -vv filetracker/tests
